.app{
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: #dadbd3;
  height:100vh;
}
.app__body{
  display:flex;
  height: 90vh;
  width: 60vw;
  box-shadow: 1px 1px 5px 5px rgba(36, 36, 48, 0.2);
  
  background-color: rgba(222, 222, 230, 0.664);
}